.container-fluid{
    margin: 0;    
    padding: 0;
}
 .navbar{
         border-radius: 0px;
         /*background-color: rgba(0,0,0,0.8);*/
     background-color:brown;
} 
.navbar-brand{ 
    font-size: 35px; 
    color: white; 
    padding-left: 25px;
} 
.navbar-brand:hover{
        color: white;
}
.nav{
        margin: 0;    
    padding: 0;
    } 
.navbar-nav{
     font-size: 25px; 
     text-align: center; 
     margin: 0; 
     padding: 0;
     
     background-color:brown;
 } 
.navbar-toggle{
    border: 2px solid white;    
    margin-right: 25px;
    } 
.icon-bar{   
     background-color: white;
     }
.main-title{ 
    margin-bottom: 15px; 
    text-align: center; 
    color: #ff4532; 
    font-size: 35px; 
    
    font-weight: bold;
} 
li{    
    box-sizing: border-box;
    width: 100%;
} 
.menu-item{    
    padding: 0;
    margin: 0;    
    width: 100%;    
    background-color: white;    
    border-bottom: 1px solid black;    
    color: white;
    display: block;
    background-color:brown;
    } 
.menu-item:hover{  
      background-color: rgba(0,0,0,0.9);   
       color: rgba(0,0,0,0.4);
}
